<!DOCTYPE html>
<html>
<head>
  <title>Celebrity Quiz</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&family=Playwrite+HU:wght@100..400&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap" rel="stylesheet">
</head>
<body>