<%- include("partials/header.ejs") %>


  <div class="quiz">
    <h1>Quiz Completed!</h1>
    <h2 class="question">Your score: <strong><%= score %> out of 10</strong></h2>
    <a class="clickbutton startbutton" href="/submit">Play Again</a>
  </div>


<%- include("partials/footer.ejs") %>
